*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: rgb(189, 245, 245);
}
.nav {
   display: flex;
}
.nav a{
 color: rgb(10, 10, 10);
    padding-left: 21px;
    padding-right:24px ;
}
.nav a:hover{
    color: rgba(44, 39, 39, 0.403);
}
.search{
    margin: 24px 24px;
}
